git p<div class="container text-center">
    {{#if user}}
    <div class="modal fade" id="addLinkAccount" tabindex="-1" role="dialog" aria-labelledby="addLinkAccount" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Add/Link account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/accounts">
                        <div class="form-group row">
                            <label for="addId" class="col-sm-2 col-form-label">User id</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext text-center noselect" name="id" id="addId" value="{{user._id}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="addAccountNumber" class="col-sm-2 col-form-label">Account</label>
                            <div class="col-sm-10">
                                <input required type="number" class="form-control" style="-webkit-appearance: none;-moz-appearance:textfield;" id="addAccountNumber"
                                    name="accountNumber" placeholder="Account number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="addBalance" class="col-sm-2 col-form-label">Balance</label>
                            <div class="col-sm-10">
                                <input required type="number" class="form-control" style="-webkit-appearance: none;-moz-appearance:textfield;" id="addBalance"
                                    name="balance" placeholder="Balance">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="addPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input required type="password" class="form-control" name="password" id="addPassword" placeholder="Password">
                            </div>
                            <label for="addConfirm" class="col-sm-2 col-form-label">Confirm</label>
                            <div class="col-sm-10">
                                <input required type="password" class="form-control" name="confirm" id="addConfirm" placeholder="Confirm password">
                            </div>
                        </div>
                        <div class="modal-footer form-group row">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-info m-3" data-toggle="modal" data-target="#addLinkAccount">Add/Link account</button>
        {{#if accounts}} {{#each accounts}}
        <div class="modal fade" id="sendFunds{{this._id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Send funds</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/accounts/send">
                            <div class="form-group row">
                                <label class="text-center w-100" for="sendId{{@index}}">
                                    <i class="fa fa-bank"></i>Account number:</label>
                                <input type="text" readonly class="balance form-control form-control-plaintext text-center noselect" name="fromAccount" id="sendId{{@index}}"
                                    value="{{this.accountNumber}}">
                            </div>
                            <div class="form-group eow">
                                <label for="sendToAccount{{@index}}">
                                    <i class="fa fa-bank"></i>Recipient account number:</label>
                                <input required style="-webkit-appearance: none;-moz-appearance:textfield;" type="number" class="form-control" id="sendToAccount{{@index}}"
                                    placeholder="Account number" name="toAccount">
                            </div>
                            <div class="form-group eow">
                                <label for="sendValue{{@index}}">
                                    <i class="fa fa-money"></i> Amount:</label>
                                <input required style="-webkit-appearance: none;-moz-appearance:textfield;" type="number" class="form-control" id="sendValue{{@index}}"
                                    placeholder="Value" name="value">
                            </div>
                            <div class="form-group eow">
                                <label for="sendPassword{{@index}}">
                                    <i class="fa fa-lock"></i>Password:</label>
                                <input required type="password" class="form-control" id="sendPassword{{@index}}" placeholder="Password" name="password">
                            </div>
                            <div class="form-group eow">
                                <label for="sendConfirm{{@index}}">
                                    <i class="fa fa-lock"></i>Confirm password:</label>
                                <input required type="password" class="form-control" id="sendConfirm{{@index}}" placeholder="Password" name="confirm">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade transactions" id="transactions{{this._id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Transactions</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row d-flex">
                            <li class="list-group-item col-3 sortCriteria">
                                <i data-sort="chevron" class=""> From:</i>
                            </li>
                            <li class="list-group-item col-3 sortCriteria">
                                <i data-sort="chevron" class=""> To:</i>
                            </li>
                            <li class="list-group-item col-3 sortCriteria">
                                <i data-sort="chevron" class=""> Value:</i>
                            </li>
                            <li class="list-group-item col-3 sortCriteria">
                                <i data-sort="chevron" class=""> Date:</i>
                            </li>
                        </div>

                        {{#each this.transactions}}
                        <div class="row d-flex transaction">

                            <li class="list-group-item text-left col-3 p-1 col1 accInfo">{{this.fromAccount}}</li>

                            <li class="list-group-item text-left col-3 p-1 col2 accInfo">{{this.toAccount}}</li>

                            <li class="list-group-item text-right col-3 p-1 col3">{{this.value}}</li>

                            <li class="list-group-item col-3 p-1 col4 toFormatPrecise">{{this.date}}</li>

                        </div>
                        {{/each}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-transaction="{{this._id}}" class="btn btn-primary btn-pdf">Print PDF
                            <i class="fa fa-file-pdf-o"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-header bg-info text-light noselect p-0" data-toggle="collapse" data-target="#{{this._id}}" aria-expanded="false"
                aria-controls="{{this._id}}">
                <h4 class="accountsHover w-100 h-100 p-3 m-0">
                    Account {{@index}}
                    <i class="fa fa-list"></i>
                </h4>
            </div>
            <div class="collapse p-0" id="{{this._id}}">
                <div class="card card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Account number: {{this.accountNumber}}</li>
                        <li class="list-group-item">Balance: {{this.balance}}</li>
                        <li class="list-group-item">
                            <button data-toggle="modal" data-target="#transactions{{this._id}}" class="btn btn-info">
                                View transactions
                                <i class="fa fa-list"></i>
                            </button>
                        </li>
                        <li class="list-group-item">
                            <button data-toggle="modal" data-target="#sendFunds{{this._id}}" class="btn btn-success">
                                Send funds
                                <i class="fa fa-send"></i>
                            </button>
                        </li>
                        <li class="list-group-item">
                            <button data-btn-type="request" data-method="delete" class="btn btn-danger">
                                Remove/Unlink account
                                <i class="fa fa-remove"></i>
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        {{/each}} {{/if}}
    </div>
    <div class="row">
        <div class="container">
            <ul class="list-group">
                <div class="card card-header bg-info text-light noselect" id="userInformation">
                    <h4 class="p-4 m-0">User information</h4>
                </div>
                <div class="list-group-item">
                    <label for="created">Date created:</label>
                    <li style="list-style-type: none" id="created" class="toFormat">{{user.dateCreated}}</li>
                </div>
                <div class="list-group-item">
                    <label for="login">Last login:</label>
                    <li style="list-style-type: none" id="login" class="toFormatPrecise">{{user.lastLogin}}</li>
                </div>
                <li class="list-group-item">First name: {{user.firstName}}</li>
                <li class="list-group-item">Last Name: {{user.lastName}}</li>
                <li class="list-group-item">Company: {{user.company}}</li>
                <li class="list-group-item">Address: {{user.address}}</li>
                <li class="list-group-item">City: {{user.city}}</li>
                <li class="list-group-item">Country: {{user.country}}</li>
                <div class="list-group-item">
                    <label for="birth">Birth date:</label>
                    <li style="list-style-type: none" id="birth" class="toFormat">{{user.birthDate}}</li>
                </div>
                <li class="list-group-item">Phone number: {{user.phone}}</li>

            </ul>
        </div>
    </div>
    {{/if}}
</div>
<script src="/js/request.js"></script>
<script src="/js/date.js"></script>
<script src="/js/popup.js"></script>
<script src="/js/balance.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/pdfmake.js"></script>
<script src="/js/vfs_fonts.js"></script>
<script src="/js/pdf.js"></script>
