<div class="container text-center">
    {{#if user}}
    <div class="modal fade" id="addLinkAccount" tabindex="-1" role="dialog" aria-labelledby="addLinkAccount" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Add/Link account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/accounts">
                        <div class="form-group row">
                            <label for="addId" class="col-sm-2 col-form-label">User id</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext text-center noselect" name="id" id="addId" value="{{user._id}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="addAccountNumber" class="col-sm-2 col-form-label">Account</label>
                            <div class="col-sm-10">
                                <input required type="number" class="form-control" style="-webkit-appearance: none;-moz-appearance:textfield;" id="addAccountNumber"
                                    name="accountNumber" placeholder="Account number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="addBalance" class="col-sm-2 col-form-label">Balance</label>
                            <div class="col-sm-10">
                                <input required type="number" class="form-control" style="-webkit-appearance: none;-moz-appearance:textfield;" id="addBalance"
                                    name="balance" placeholder="Balance">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="addPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input required type="password" class="form-control" name="password" id="addPassword" placeholder="Password">
                            </div>
                            <label for="addConfirm" class="col-sm-2 col-form-label">Confirm</label>
                            <div class="col-sm-10">
                                <input required type="password" class="form-control" name="confirm" id="addConfirm" placeholder="Confirm password">
                            </div>
                        </div>
                        <div class="modal-footer form-group row">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-info m-3" data-toggle="modal" data-target="#addLinkAccount">Add/Link account</button>
        {{#if accounts}} {{#each accounts}}
        <div class="modal fade" id="sendFunds{{this._id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Send funds</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/accounts/send">
                            <div class="form-group row">
                                <label for="sendId" class="col-sm-2 col-form-label">
                                    <i class="fa fa-bank"></i>Account number:</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext text-center noselect" name="fromAccount" id="sendId" value="{{this.accountNumber}}">
                                </div>
                            </div>
                            <div class="form-group eow">
                                <label for="sendToAccount">
                                    <i class="fa fa-bank"></i>Recipient account number:</label>
                                <input required style="-webkit-appearance: none;-moz-appearance:textfield;" type="number" class="form-control" id="sendToAccount"
                                    placeholder="Account number" name="toAccount">
                            </div>
                            <div class="form-group eow">
                                <label for="sendValue">
                                    <i class="fa fa-money"></i> Amount:</label>
                                <input required style="-webkit-appearance: none;-moz-appearance:textfield;" type="number" class="form-control" id="sendValue"
                                    placeholder="Value" name="value">
                            </div>
                            <div class="form-group eow">
                                <label for="sendPassword">
                                    <i class="fa fa-lock"></i>Password:</label>
                                <input required type="password" class="form-control" id="sendPassword" placeholder="Password" name="password">
                            </div>
                            <div class="form-group eow">
                                <label for="sendConfirm">
                                    <i class="fa fa-lock"></i>Confirm password:</label>
                                <input required type="password" class="form-control" id="sendConfirm" placeholder="Password" name="confirm">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="transactions" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Transactions</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row d-flex">
                            <li class="list-group-item col-3 sortCriteria">
                                <i class="fa fa-chevron-down"> From:</i>
                            </li>
                            <li class="list-group-item col-3 sortCriteria">
                                <i class="fa fa-chevron-down"> To:</i>
                            </li>
                            <li class="list-group-item col-3 sortCriteria">
                                <i class="fa fa-chevron-down"> Value:</i>
                            </li>
                            <li class="list-group-item col-3 sortCriteria">
                                <i class="fa fa-chevron-down"> Date:</i>
                            </li>
                        </div>

                        {{#each this.transactions}}
                        <div class="row d-flex">

                            <li class="list-group-item col-3 p-1 col1 accInfo" data-title="" data-container="body" data-toggle="popover" data-placement="top"
                                data-content="">{{this.fromAccount}}</li>

                            <li class="list-group-item col-3 p-1 col2 accInfo" data-title="" data-container="body" data-toggle="popover" data-placement="top"
                                data-content="">{{this.toAccount}}</li>

                            <li class="list-group-item col-3 p-1 col3">{{this.value}}</li>

                            <li class="list-group-item col-3 p-1 col4 toFormatPrecise">{{this.date}}</li>

                        </div>
                        {{/each}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-header bg-info text-light noselect" data-toggle="collapse" data-target="#{{this._id}}" aria-expanded="false"
                aria-controls="{{this._id}}">
                Account {{@index}}
            </div>
            <div class="collapse p-0" id="{{this._id}}">
                <div class="card card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Account number: {{this.accountNumber}}</li>
                        <li class="list-group-item">Balance: {{this.balance}}</li>
                        <li class="list-group-item" data-toggle="modal" data-target="#transactions">
                            <button data-toggle="modal" data-target="#transactions" class="btn btn-info">
                                View transactions
                                <i class="fa fa-list"></i>
                            </button>
                        </li>
                        <li class="list-group-item">
                            <button data-toggle="modal" data-target="#sendFunds{{this._id}}" class="btn btn-success">
                                Send funds
                                <i class="fa fa-send"></i>
                            </button>
                        </li>
                        <li class="list-group-item">
                            <button data-btn-type="request" data-method="delete" class="btn btn-danger">
                                Remove/Unlink account
                                <i class="fa fa-remove"></i>
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        {{/each}} {{/if}}
    </div>
    <div class="row">
        <div class="container">
            <ul class="list-group">
                <div class="card card-header bg-info text-light noselect">
                    User information
                </div>
                <div class="list-group-item">
                    <label for="created">Date created:</label>
                    <li style="list-style-type: none" id="created" class="toFormat">{{user.dateCreated}}</li>
                </div>
                <div class="list-group-item">
                    <label for="login">Last login:</label>
                    <li style="list-style-type: none" id="login" class="toFormatPrecise">{{user.lastLogin}}</li>
                </div>
                <li class="list-group-item">First name: {{user.firstName}}</li>
                <li class="list-group-item">Last Name: {{user.lastName}}</li>
                <li class="list-group-item">Company: {{user.company}}</li>
                <li class="list-group-item">Address: {{user.address}}</li>
                <li class="list-group-item">City: {{user.city}}</li>
                <li class="list-group-item">Country: {{user.country}}</li>
                <div class="list-group-item">
                    <label for="birth">Birth date:</label>
                    <li style="list-style-type: none" id="birth" class="toFormat">{{user.birthDate}}</li>
                </div>
                <li class="list-group-item">Phone number: {{user.phone}}</li>

            </ul>
        </div>
    </div>
    {{/if}}
</div>
<script type="text/javascript">
    let created = document.getElementById('created');
    let birth = document.getElementById('birth');
    let login = document.getElementById('login');

    let formatDate = (field) => {
        let date = new Date(field.innerText);
        let year = date.getFullYear();
        let month = date.getMonth();
        let day = date.getDate();

        field.innerText = day + '/' + month + '/' + year;
    }
    let formatDatePrecise = (field) => {
        let date = new Date(field.innerText);
        let year = date.getFullYear();
        let month = date.getMonth();
        let day = date.getDate();
        let hours = date.getHours();
        let minutes = date.getMinutes();
        let seconds = date.getSeconds();

        field.innerText = day + '/' + month + '/' + year + ' ' + hours + ':' + minutes + ':' + seconds;
    }
    document.querySelectorAll('.toFormat').forEach(field => {
        formatDate(field);
    })
    document.querySelectorAll('.toFormatPrecise').forEach(field => {
        formatDatePrecise(field);
    })
    document.querySelectorAll('.nav-item')[0].classList.add('active');
</script>
<script>
    class Request {
        constructor(method, url, json) {
            this.method = method;
            this.url = url;
            this.json = json
        }
        send() {
            if (confirm('Are you sure?')) {
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        location.reload();

                    }
                    if (this.readyState == 4 && this.status == 201) {
                        location.reload();
                    }

                };
                xhr.open(this.method, this.url, true);
                xhr.send(this.json);
            }
        }
    }
    let btns = document.querySelectorAll('[data-btn-type="request"]');
    btns.forEach(btn => {
        btn.addEventListener('click', e => {
            let method = e.target.attributes['data-method'].value;
            let id = e.target.parentElement.parentElement.parentElement.parentElement.id;
            if (method == 'delete') {
                let url = new URL(window.location).origin + '/accounts/' + id;
                let request = new Request(method, url, null, true);
                request.send();
            }
        })
    })
</script>
<script type="text/javascript">
    let sorted = false;
    let sortCritera = document.querySelectorAll('.sortCriteria');
    sortCritera.forEach(element => {
        element.addEventListener('click', (event) => {
            let cc, ci, rows, chevrons;
            if (event.target.nodeName == 'I') {
                chevrons = event.target.parentElement.children;
                cc = Array.prototype.slice.call(event.target.parentElement.parentElement.children);
                ci = 'c' + cc.indexOf(event.target.parentElement);
                rows = Array.prototype.slice.call(event.target.parentElement.parentElement.parentElement.children);
            } else {
                chevron = event.target.firstElementChild;
                cc = Array.prototype.slice.call(event.target.parentElement.children);
                ci = 'c' + cc.indexOf(event.target);
                rows = Array.prototype.slice.call(event.target.parentElement.parentElement.children);
            }
            rows.shift();
            let map = [];
            console.log(event.target, cc, rows)
            rows.forEach((row) => {
                map.push({
                    r: {
                        c0: row.children[0].innerText,
                        c1: row.children[1].innerText,
                        c2: parseInt(row.children[2].innerText),
                        c3: row.children[3].innerText
                    }
                })
            });
            if (sorted) {
                map.sort((a, b) => {
                    return a.r[ci] > b.r[ci]
                })
            } else {
                map.sort((a, b) => {
                    return a.r[ci] < b.r[ci]
                })
            }
            sorted = !sorted;
            map.forEach((row, index) => {
                chevron.className = chevron.className == 'fa fa-chevron-up' ? 'fa fa-chevron-down' : 'fa fa-chevron-up';
                rows[index].children[0].innerText = row.r.c0
                rows[index].children[1].innerText = row.r.c1
                rows[index].children[2].innerText = row.r.c2
                rows[index].children[3].innerText = row.r.c3
            })

        })
    })
</script>
<script type="text/javascript">
    $('[data-toggle="popover"]').popover();
    let accInfo = document.querySelectorAll('.accInfo');
    accInfo.forEach(e => {
        let accNum = e.innerText;
        let trigger = $(e);
        e.addEventListener('click', (event) => {
            console.log(event)
            let url = new URL(window.location).origin + '/api/accounts/' + accNum
            let xhr = new XMLHttpRequest();
            let response;

            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    response = JSON.parse(this.responseText);
                    console.log(response)
                    event.target.setAttribute('data-content', `
                        Name: ${response.firstName} ${response.lastName} | 
                        Address: ${response.address} ${response.city} ${response.country} |
                        Phone: ${response.phone}
                    `);
                    trigger.popover('show');
                }
            }
            xhr.open('get', url, true);
            xhr.send(null);
        })
        e.addEventListener('mouseleave', (event) => {
            trigger.popover('hide');
        });
    })
</script>
